/*
*  Table of Contents:
*
*  1. CSS Inits
*  2. Main-Content
*  3. Header & Menu
*  4. Profile
*  5. Resume
*  6. Portfolio
*  7. Contact
*  8. Media queries
*/


/*
===============================================
--------------- 1. CSS Inits ------------------
===============================================
*/

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.clear{
    clear: both;
}
body{	
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    background: #FFF;
    overflow-x: hidden;
    overflow: hidden;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}

ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.no-marg {
    margin-left: 0;
    margin-right: 0;
}
.no-padd {
    padding-left: 0;
    padding-right: 0;
}

.section_general {
	margin-left: 4%;
}

.section_separate {
	margin-bottom: 80px;
}

.title-section {
	margin-bottom: 30px;
    margin-left: 15px;
}

.title-section  h2.section_title {
    color: #2c383c;
    margin: 0;
    padding: 0;
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
	line-height: 26px;
	background:none !important;
	border:0;
}
.title-section .sep2 {
  height: 6px;
  width: 50px;
  margin: 20px 0;
}

.row_responsive {
    margin-left: 0px;
    margin-right: 0px;
}

/*
===============================================
----------------- PRELOADER -------------------
===============================================
*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999999999999;
}
.preloader .spinner {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-animation: rotatee 2.0s infinite linear;
    animation: rotatee 2.0s infinite linear;
}
.preloader .spinner .dot1,
.preloader .spinner .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-animation: bouncee 2s infinite ease-in-out;
    animation: bouncee 2s infinite ease-in-out;
}
.preloader .spinner .dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes rotatee {
    100% {
    -webkit-transform: rotate(360deg);
}
}
@keyframes rotatee {
    100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
}
@-webkit-keyframes bouncee {
    0%,
    100% {
    -webkit-transform: scale(0);
}
50% {
    -webkit-transform: scale(1);
}
}
@keyframes bouncee {
    0%,
    100% {
    transform: scale(0);
    -webkit-transform: scale(0);
}
50% {
    transform: scale(1);
    -webkit-transform: scale(1);
}
}


/*
===============================================
-------------- 2. Main-Content ----------------
===============================================
*/

#main {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 275px;
    background: #fff;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
}

/*#main section.layers {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; 
}
#main section.layers.page_current {
    z-index: 1;
    left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; 
}*/

/* opacity */
#main section.layers {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
}
#main section.layers.page_current {
	z-index: 1;
	opacity: 1;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
} 
#main section.layers .page_content {
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}	

/*
===============================================
------------- 3. Header & Menu ----------------
===============================================
*/

#header {
    position: fixed;
    width: 275px;
    z-index: 999999999;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #191818;
    outline: none;
    color: #fff;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    padding: 30px 20px 0 20px !important;
}

#header.active {
    left: 0 !important;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
}
#header #menu_closed {
    position: absolute;
    top: 3px;
    left: 3px;
    cursor: pointer;
    z-index: 1;
    display:none;
}
#header #menu_closed i {
    font-size: 20px;
    padding: 10px 12px;
    color: #fff;
    display: inline-block;
}
#header .logo{
    height:124px;
    width:130px;
    border: 5px solid #464646;
    overflow:hidden;
    margin:0 auto 15px;
    opacity:1;
    margin-bottom:0;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
#header .logo:hover,
.featured-thumbnail:hover{
    opacity:0.7;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
#header .logo a{
    display:block;
    text-align:center;
}
#header .tagline {
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 0;
    color: #9d9d9d;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    font-family: "Open Sans", Arial, sans-serif;
}
#header h4.tagline:after {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 1px;
    border-top: 1px solid #323131;
    content: "";
    margin-top: 20px;
}

/*****************************
Navigation
*****************************/

.navigation{
    margin: 35px 0px;
}
.navigation > ul > li{
    position:relative;
}
.navigation > ul > li.has-submenu:after{
    content:"\f105";
    font-family: 'FontAwesome';
    display:inline-block;
    position:absolute;
    color:#7a7e8a;
    right:15px;
    transition: all 0.4s;
    -moz-transition: all 0.4s; 
    -webkit-transition: all 0.4s; 
    -o-transition: all 0.4s;
    top:10px;
    visibility:hidden;
}
.navigation > ul > li.active.has-submenu:after,
.navigation > ul > li.has-submenu:hover:after{
    color:#fff;
}

.navigation > ul > li > a{
    display:block;
    position: relative;
    font-size: 14px;
    font-weight:normal;
    line-height: 14px;
    text-align: center;
    padding: 13px 0;
    color: #c8c8c8;
    text-transform:capitalize;
    text-decoration:none;	
    border-bottom:1px solid #323131;
}
.navigation > ul > li.active > a,
.navigation > ul > li:hover > a  {
    color: #fff;
}	
.navigation > ul > li:first-child > a {
    border-top:1px solid #323131;
}
.navigation > ul:hover > li.active > a{
    box-shadow:none;
    color:#fff;
}

.navigation ul li a i{
    margin-right:6px;
    font-size:14px;
}

/*** Sub Menu ***/
.navigation ul li ul{
    display:none;
    background-color:#2f2f2f;
}	
#header:not(.collapsed) .navigation ul li.active ul{
    display:block;
}
.navigation ul li ul li a{
    padding:8px 25px;
    color:#fff;
    text-decoration:none;
    white-space:nowrap;
    transition: all 0.2s;
    -moz-transition: all 0.2s; 
    -webkit-transition: all 0.2s; 
    -o-transition: all 0.2s;
    font-size:13px;
    border-left:0px solid #5e6271;
    text-align:left;
    display:block;}
.navigation ul li ul li a:hover,
.navigation ul li ul li.active a{
    border-left:5px solid #5e6271;
    color:#5e6271;
}

/* social */

#header .social-ul  {
    float: none;
    text-align: center;
}
#header .social-ul ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
#header .social-ul ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
}
#header .social-ul ul li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #323131;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#header .social-ul ul li a:hover {
    color: #fff;
}
#header .social-ul ul li a i {
    float: none;
    margin-left: 0;
    font-size: 14px;
}
#header .social-ul ul li.social-linkedin a:hover { background-color:#007bb6; }
#header .social-ul ul li.social-github a:hover { background-color:#171515; }
#header .social-ul ul li.social-skype a:hover { background-color:#12A5F4; }
#header .social-ul ul li.social-hackerrank a:hover { background-color:#29B65F; }

/* mobile menu */

#wrappers .header-main {
    background-repeat: repeat;
    height: 60px !important;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    margin: 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.1);
    z-index: 1041;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    display:none;
    border-bottom: 1px solid #e6e6e6;
    background: rgba(34,34,34,1) !important;
}

#wrappers .content_wrappers {
    width: 100%;
    padding: 0 3%;
}

#wrappers .content_wrappers .logo_wrapper {
    position: relative;
    display: inline-block;
    top: 6px !important;
    margin: 0 auto;
    left: 0;
}

#wrappers .content_wrappers .site_title {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    display: inline-block;
    line-height: 1em !important;
    font-size: 24px !important;
    margin: 7px 0 0 0;
    text-align: center;
}

#wrappers .content_wrappers .site_title a{
    line-height: 1em !important;
    font-size: 24px !important;
    margin: 8px 0 0 0;
    text-align: center;
}

#wrappers .content_wrappers #btn_open_menu {
    font-size: 31px;
    float: left;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 9;
}


#wrappers .content_wrappers #btn_open_sidebar {
    font-size: 31px;
    float: left;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    text-decoration: none;
}

/*
===============================================
------------------ 4. Profile -----------------
===============================================
*/

.inner-text {
    padding: 37px;
}
.bg_desc {
    background-color: #f3f0f0;
}
.bg_info {
    color: #fff;
}

.my_profile .info_profile {
    float: right;
}

.my_profile .info_profile h2 {
    font-size: 40px;
    line-height: normal;
    margin: 0 0 5px 0;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
.my_profile .info_profile .feature-desc p {
    margin-bottom: 25px;
    font-family: "Lato", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.my_profile .info_profile .inner-text ul li {
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
	font-family: Montserrat, "Open Sans", Arial, sans-serif;
}
.my_profile .info_profile .inner-text ul li a {
    color: #fff;
}
.my_profile .info_profile .inner-text ul li a:hover {
    color: #fff;
    text-decoration: underline;
}
.my_profile .info_profile .inner-text ul li i {
    margin-right: 5px;
}
.my_profile .info_profile .inner-text ul li strong {
    width: 115px;
    display: inline-block;
	font-weight: normal;
}
.my_profile .areas-expertise {
    list-style: disc;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
}
.my_profile .areas-expertise li {
    color: #333333 !important;
    font-family: "Lato", "Open Sans", Arial, sans-serif !important;
    font-size: 15px !important;
}
.my_profile #title-areas-expertise {
    margin-bottom: 5px;
}

/*
===============================================
----------------- 5. Resume -------------------
===============================================
*/

#resume {
    background:#fff;
}

#resume .page_content {
    overflow-y: hidden;
    outline: none;
    padding: 20px 0;
}
#resume .title-section  {
   margin-left:0;
}

#resume .resume-left ul li h5 {
    padding-bottom: 10px;
    color: #444;
	font-weight: bold;
}
#resume .attributes {
    margin-bottom: 30px;
}
#resume .attributes li.first{
    margin-top: 0 !important;
}

#resume h5,
#resume h6 {
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 10px;
}
#resume p {
    color: #7a7c82;
    line-height: 24px;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}

#resume h6 {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.section-header {
    text-align: center;
    padding: 30px 0 80px 0;
}
.section-header h3 {
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 12px;
}
.section-header .section-title {
    line-height: 1;
}
.section-header p {
    font-size: 16px;
    color: #6e6a6f;
    font-family: 'Lato',"Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 23px;
    line-height: 22px;
}
.section-header .border-divider {
    background-color: #cbcbcd;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.section-header .border-divider:last-child {
    margin-bottom: 0;
}
.border-divider {
    width: 70px;
    height: 2px;
    display: block;
    margin: auto;
    background-color: #cbcbcd;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -khtml-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

/*--------------------------------------------------
------------------- Skills bar ---------------------
---------------------------------------------------*/
.skills {
    margin-bottom: 30px;
}
.skills .skill-text h5{
    font-weight: bold !important;
}
.skills ul{
    list-style: disc;
    padding: 20px;
    margin: 15px;
    font-size: 14px;
    color: #7a7c82;
} 


/*
===============================================
---------------- 6. Portfolio -----------------
===============================================
*/

.image-link {
    display: block;
    overflow: hidden;
    cursor:pointer;
}

.image-link img {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;

    -webkit-transition-duration:1s;
    -moz-transition-duration:1s;
    transition-duration:1s;
    opacity:1;
    filter: alpha(opacity=100); 

}

.image-link:hover img {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity:0.6;
    filter: alpha(opacity=60);
}

#portfolio{
      background: #F1F1F1;
}

#portfolio .page_content{
     padding: 10px;
}
    
/*Grid blog*/

.blog-content-grid {
    margin-right: 0;
}
.blog-content-grid .row {
    margin-left: 0;
    margin-right: 0;
}

.blog-content-grid [class*="col-"] {
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 10px; 
}

.blog-content-grid {
    margin-right: 0;
    margin-bottom: 15px;
    position: relative;
    background-color: #ffffff;
    padding:0px; 
    -webkit-box-shadow: 0 1px 0 0 rgba(125,125,125,.15);
    -moz-box-shadow: 0 1px 0 0 rgba(125,125,125,.15);
    box-shadow: 0 1px 0 0 rgba(125,125,125,.15);
}
.blog-content-grid img{
    width:100%;
}
.blog-content-grid .post-body{
    padding: 20px;
    padding-bottom: 12px;
    padding-bottom: 70px;
    background: #FFF
}
.blog-content-grid h3.post-title{
    font-family: 'Merriweather',"Open Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #333333;
    padding: 0;
    margin-bottom: 10px;
}
.blog-content-grid h3.post-title a {
    color: #333333;
    text-decoration: none;
}


.blog-content-grid .post-body .post-meta ul {
    text-align: left;
    padding-left: 0;
    list-style: none;
    margin-bottom: 15px;
    margin-top: 15px;
}
.blog-content-grid .post-body .post-meta ul li {
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    color: #9da3a8;
    display: inline-block;
    padding: 0;
    font-weight: 400;
    line-height: 1.6;
}

.blog-content-grid .post-body .post-meta ul li.separate_li,
.blog-content-grid .post-body .post-meta ul li:first-child  {
    padding: 0;
}

.blog-content-grid .post-body .post-meta ul li i {
    font-size: 12px;
    margin-right: 5px;
    color: #a3a9b0;
    position: relative;
    top: 1px;
}

.blog-content-grid .post-content {
    height: 100%;
}

.blog-content-grid .post-content p {
    font-family: "Open Sans", Arial, sans-serif;
    color: #555;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0 0 15px 0;
    margin-bottom: 0;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 1.9em;
    margin-top: 15px;
}

.blog-content-grid a.read_more_but {
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 24px;
    font-size: 13px;
    text-transform: capitalize;
    margin: 0;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 100%;
    border: 2px solid #e3e3e3;
    color: #9ba1a8;
    padding: 9px 12px;
}

.blog-content-grid a.read_more_but:hover {
    color: #fff;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.blog-content-grid .footer_post ul{
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    display: block;
    margin: 0;
}

.blog-content-grid .footer_post ul li{
    display: inline-block;
    padding: 15px 10px;
    width: 25%;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    margin: 0;
    float: left;
    position: relative;
    z-index: 0;
    font-size: 13px;
    color: #9ba1a8;
    text-transform: capitalize;
}



.blog-content-grid .footer_post ul li:after{
    z-index:-1;
    content:"";
    width:100%;
    height:0;
    bottom:0;
    left:0;
    position:absolute;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#12000000',GradientType=0 ); /* IE6-9 */
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog-content-grid .footer_post ul li:hover:after{
    height:100%;
}

.blog-content-grid .footer_post ul li:before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    opacity: 0;
}

.blog-content-grid .footer_post ul li:before{
    bottom:0;
    left:50%;
}
.blog-content-grid .footer_post ul li:hover:before{
    left:0;
}
.blog-content-grid .footer_post ul li:last-child{
    border-right:none;
}

.blog-content-grid .footer_post ul li i{
    vertical-align:middle;
}

.blog-content-grid .footer_post ul li:hover:before{
    width:100%;
    opacity:1;
}
.blog-content-grid .footer_post ul li a{
    color:#9ba1a8;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.blog-content-grid .footer_post ul li i{
    margin-right: 7px;
    display:inline-block;
    vertical-align:middle;
    color:#9da3a8;
    -webkit-transition: all 300ms!important;
    -o-transition: all 300ms!important;
    transition: all 300ms!important;
    position: relative;
    top: -1px;
}

.blog-content-grid .footer_post ul li i:first-child{
    margin-right: 0;
}


.blog-content-grid .post-quote {
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog-content-grid .post-quote .post-inner {
    color: #FFF;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 0;
}

.blog-content-grid .post-quote .post-inner p {
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}
.blog-content-grid .post-quote .post-inner .author {
    font-size: 13px;
    font-style: italic;
    margin-top: 10px;
    display: block;
    text-align: center;
}
/*pagination*/
.main-pagination {
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-pagination .page-numbers.current, 
.main-pagination a:hover {
    color: #fff;
    text-decoration: none;
}
.main-pagination .page-numbers, 
.main-pagination a {
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    background: #808080;
    line-height: 25px;
    font-size: 13px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;
}
.visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.post-meta a.author_post:hover,
.post-meta a.categ_post:hover{
    color:#333333;
    text-decoration:underline;
}

.skill-tags li {
    list-style: none;
    background: #eee;
    border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    padding: 4px 8px;
    float: left;
    margin: 4px;
}

/*
===============================================
---------------- 7. Contact ------------------
===============================================
*/
.contacts {
    padding: 10px;
    font-size: 16px;
    line-height: 26px;
    font-family: "Lato", "Open Sans", Arial, sans-serif;
}

.contacts li {
    margin: 20px;
}

.contacts i {
    width: 32px;
    height: 32px;
}

.contacts i.fa-github {
    color: #000000;
}

.contacts i.fa-skype {
    color: #12A5F4;
}

.contacts i.fa-linkedin {
    color: #007bb6;
}

.contacts i.fa-instagram {
    color: #fb3958;
}

/*
===============================================
------------- 8. Media queries ---------------
===============================================
*/

@media screen and (max-width: 992px){
	
	.section_general {
	   margin: 0 20px;
	}

    #header {
        left: -320px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }

    #wrappers .header-main {
        display:block;
    }
    #main {
        margin-left: 0;
        margin-top: 60px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }

    .single-portfolio .content .content-split {
        border-bottom: 1px solid #E0E0E0;
        border-right: none;
        margin-bottom: 30px;
    }

    .single-portfolio .content {
        margin-bottom: 20px;
    }
    #main section.layers {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    #main section.layers.page_current {
        z-index: 1;
        opacity: 1;
        -webkit-transition: opacity .6s ease-in-out;
        -moz-transition: opacity .6s ease-in-out;
        -o-transition: opacity .6s ease-in-out;
        -ms-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
    }
   
	.my_profile .info_profile h2	{
		text-align: center;
	}
}
@media screen and (max-width: 768px){
    #portfoliolist .portf_detail {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }
}
@media screen and (max-width: 736px){

    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper {
        text-align: center;
    }

    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper .fc-page-title-captions {
        display: block;
        vertical-align: middle;
        width: 100%;
        margin: 20px 0 10px 0;
    }

    .single-portfolio .fc-page-title-breadcrumbs ul.breadcrumbs {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        text-align: center;
    }

    .portfolios .grid div.view{
        width: 50% !important;
    }

}

@media screen and (max-width: 490px){

    .portfolios .grid div.view {
        width: 100% !important;
    }

    #portfoliolist .portf_detail {
        bottom: 20% !important;
    }

    #genre-filter li.label_filter {
        text-align: left;
    }

    #genre-filter li {
        border-top: 1px solid #eaeaea;
        border-left: 0;
        float: none;
        text-align: center;
    }

}
@media screen and (max-width: 414px){

    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 375px){

    #header .menu_closed{
        display: block !important;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        height: 100%;
        padding-bottom: 15px;
    }
    .my_profile .info_profile h2 {
        font-size: 30px;
    }
    .bg_desc .inner-text {
        padding-top: 20px;
    }
    .my_profile .info_profile .inner-text ul li strong {
        width: inherit;
    }
    .section-header h3 {
        font-size: 17px;
    }
    .section-header p {
        font-size: 13px;
		margin: 0 0 15px;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 240px){
    .portfolios .view p{
        display: none !important;
    }
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}
